body {
    font: 20px Arial, sans-serif;
}
.navbar {
    background-color: rgb(116, 194, 203);
}
.navbar img {
    border-radius:0px 0px 15px 0px;
    margin:5px;
}
.quem-somos {
    background-color: rgb(198, 240, 245);
    color: rgb(103, 102, 102);
}
.margin {
    padding-top: 20px;
    padding-bottom: 20px;
}
#quemsomos img {
    margin-bottom:20px;
    border-radius: 30px;
}
.parceiros {
    background-color: rgb(161, 214, 221);
    color: rgb(103, 102, 102);
}
.parceiros img {
    padding: 10px;
    border-radius: 20px;
}
.servicos {
    background-color: rgb(198, 240, 245);
    color: rgb(103, 102, 102);
    font-size: 15px;
}
.servicos img {
    border-radius: 20px;
    padding:10px;
}
.servicos p {
    font-style: oblique;
}
.bg-footer {
    background-color: rgb(172, 193, 196);
    color: rgb(255, 255, 255);
    height:calc(100%-20px);
    font-size:18px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}